.navbar {
  background-color: #6697ff;
  padding: 10px;
  display: flex;
}

.nav_content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 400px;
}
.navbar_img {
  align-self: flex-start;
}
input {
  background-color: #64748b;
  border: none;
  height: 24px;
  margin-left: 5px;
  width: 400px;
}
.search_img {
  background-color: #64748b;
  width: 24px;
}
.no_results_found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
